<div class="container">
    <div id="create-hacker">
        <h1 id="CRtitle">CHARACTER CREATION</h1>
        <br>
        <br>
        <div id="left-box">
            <form action="/create-hacker" method="POST" enctype="multipart/form-data">
                <br>
                <p id="writing">Type in your hax0r name</p>
                <br>
                <input type="text" required="true" name="name" placeholder="Your name here">
                <br>
                <br>

                <br>
                <br>

                <p>Click here when you're ready</p>
                <input class="button" type="submit" value="Create hacker">
            </form>
        </div>


        <div id="right-box">

            <div class="my-profile my-profile-hack-stats upgrade-table">
                <table cellspacing="0">
                    <tr>
                        <th>HACK SKILLS</th>
                        <th>Value</th>
                        <th>Upgrade</th>
                    </tr>
                    <tr>
                        <td><b>Firewall:</b></td>
                        <td>{{user.maxFirewall}} </td>
                        <td>
                            <form action="/create-hacker" method="POST">
                                <input type="submit" name="firewall" class="button" value="+">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td><b>CPU:</b></td>
                        <td>{{user.cpu}} </td>
                        <td>
                            <form action="/create-hacker" method="POST">
                                <input type="submit" name="cpu" class="button" value="+">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td><b>AntiVirus:</b></td>
                        <td>{{user.antiVirus}} </td>
                        <td>
                            <form action="/create-hacker" method="POST">
                                <input type="submit" name="antivirus" class="button" value="+">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Encryption:</b></td>
                        <td>{{user.encryption}} </td>
                        <td>
                            <form action="/create-hacker" method="POST">
                                <input type="submit" name="encryption" class="button" value="+">
                            </form>
                        </td>
                    </tr>
                </table>
                <div class="stat-points">You have {{statPoints}} available!</div>
            </div>

        </div>
    </div>

</div>