<h1>WANTED LIST</h1>
<div class="flex-container">

<table cellspacing="0" class="ladder-wanted">
  <tr>
    <th>Name</th>
    <th>Alliance</th>
    <th>Rank</th>
    <th>Bounty</th>
    <th>Hack</th>
  </tr>
  {{#each bountyUsers}}
  <tr>
    <td>{{this.name}} </td>
    <td>{{this.alliance}} </td>
    <td>{{this.rankName}} </td>
    <td>${{this.bounty}} </td>
    <td>
      <form action="/hack/hack-player/:{{this.id}}">
        <button type="submit" class="button">Hack!</button>
      </form>
    </td>
  </tr>
  {{/each}}
</table>


<form action="/hack/wanted-list" method="POST" id="wanted-list-form">
  <h2>Add player and bounty</h2>
  <input type="text" name="name" id="wanted-list-input" placeholder="Add player to wanted" required> <br>
  <input type="number" name="bounty" id="wanted-list-input-bounty" placeholder="Add bounty" required>
  <input type="submit" id="wanted-list-submit">
</form>
</div>