<h1>LADDER</h1>

<table cellspacing="0" class="ladder-wanted ladder-padding">
  <tr>
    <th>Name</th>
    <th>Alliance</th>
    <th>Rank</th>
    <th>Shutdowns</th>
    <th>Networth</th>
  </tr>
  {{#each user}}
  <tr>
    <td>{{this.name}} </td>
    <td>{{this.alliance}} </td>
    <td>{{this.rankName}} </td>
    <td>{{this.shutdowns}} </td>
    <td>${{this.networth}} </td>
  </tr>
  {{/each}}
</table>
