<h1>MARKETPLACE</h1>

<!-- buy function instead this.buy -->

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Bonus</th>
    <th>BUY</th>
  </tr>
  {{#each cpuItems}}
  <tr>
    <td>{{this.name}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>{{this.buy}} </td>
  </tr>
  {{/each}}
</table>

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Bonus</th>
    <th>BUY</th>
  </tr>
  {{#each avsItems}}
  <tr>
    <td>{{this.name}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>{{this.buy}} </td>
  </tr>
  {{/each}}
</table>

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Bonus</th>
    <th>BUY</th>
  </tr>
  {{#each encryptionItems}}
  <tr>
    <td>{{this.name}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>{{this.buy}} </td>
  </tr>
  {{/each}}
</table>

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Bonus</th>
    <th>BUY</th>
  </tr>
  {{#each firewallItems}}
  <tr>
    <td>{{this.name}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>{{this.buy}} </td>
  </tr>
  {{/each}}
</table>