<h1>MARKETPLACE</h1>

{{#if newItemName}}
  <h3 id="writing">You just bought {{newItemName}}</h3>
{{/if}}

{{#if insufficentBitcoins}}
  <h3 id="writing">You don't have enough cash to buy {{insufficentBitcoins}}</h3>
{{/if}}


<table cellspacing="1" class="marketplace">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Price</th>
    <th>Bonus</th>
  </tr>


  {{#each cpuItems}}
  <tr>
    <td>{{this.name}} </td>
    <td class="red">{{this.type}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>
      <form action="/marketplace/{{this._id}}" method="POST">
        <button class="button-buy">BUY</button>
      </form>
    </td>
  </tr>
  {{/each}} {{#each firewallItems}}
  <tr>
    <td>{{this.name}} </td>
    <td class="green">{{this.type}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>
      <form action="/marketplace/{{this._id}}" method="POST">
        <button class="button-buy">BUY</button>
      </form>
    </td>
  </tr>
  {{/each}} {{#each avsItems}}
  <tr>
    <td>{{this.name}} </td>
    <td class="blue">{{this.type}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>
      <form action="/marketplace/{{this._id}}" method="POST">
        <button class="button-buy">BUY</button>
      </form>
  </tr>
  {{/each}} {{#each encryptionItems}}
  <tr>
    <td>{{this.name}} </td>
    <td class="purple">{{this.type}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>
      <form action="/marketplace/{{this._id}}" method="POST">
        <button class="button-buy">BUY</button>
      </form>
  </tr>
  {{/each}}

