<h1>MARKETPLACE</h1>

{{#if newItemName}}
  <h3 style="color: #fff;">You just bought {{newItemName}}</h3>
{{/if}}

<!-- TODO:
-  BUY FUNCTION
-  SORT BY PRICE
-  USER CAN ONLY HOLD ONE ITEM OF EACH GROUP: CPU, FIREWALL, CPU, ENCRYPTION
-  CREATE NEATER TABLES
-->

<table cellspacing="1" class="marketplace">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Price</th>
    <th>Bonus</th>
  </tr>


  {{#each cpuItems}}
  <tr>
    <td>{{this.name}} </td>
    <td class="red">{{this.type}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>
      <form action="/marketplace/{{this._id}}" method="POST">
        <button class="button-buy">BUY</button>
      </form>
    </td>
  </tr>
  {{/each}} {{#each firewallItems}}
  <tr>
    <td>{{this.name}} </td>
    <td class="green">{{this.type}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>
      <form action="/marketplace/{{this._id}}" method="POST">
        <button class="button-buy">BUY</button>
      </form>
    </td>
  </tr>
  {{/each}} {{#each avsItems}}
  <tr>
    <td>{{this.name}} </td>
    <td class="blue">{{this.type}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>
      <form action="" method="POST">
        <button class="button-buy">BUY</button></td>
  </tr>
  {{/each}} {{#each encryptionItems}}
  <tr>
    <td>{{this.name}} </td>
    <td class="purple">{{this.type}} </td>
    <td>{{this.price}} </td>
    <td>{{this.bonus}} </td>
    <td>
      <form action="" method="POST">
        <button class="button-buy">BUY</button></td>
  </tr>
  {{/each}}