<h1>MY PROFILE</h1>

<div class="flex-container-profile">

    {{!-- STATUS --}}
    <div class="my-profile my-profile-status">
        <table cellspacing="0">
            <tr>
                <th>STATUS</th>
                <td></td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td>{{user.name}} </td>
            </tr>
            <tr>
                <td><b>Alliance:</b></td>
                <td>{{user.alliance}} </td>
            </tr>
            <tr>
                <td><b>Rank:</b></td>
                <td>{{user.rankName}} </td>
            </tr>
            <tr>
                <td><b>Networth:</b></td>
                <td>${{user.networth}} </td>
            </tr>
            <tr>
                <td><b>Start date:</b></td>
                <td>{{createdAtDate}} </td>
            </tr>
        </table>
    </div>


    {{!-- HACK STATS --}}
    <div class="my-profile my-profile-hack-stats">
        <table cellspacing="0">
            <tr>
                <th>HACK STATS</th>
                <th></th>
            </tr>
            <tr>
                <td><b>Exp:</b></td>
                <td>{{user.exp}} </td>
            </tr>
            <tr>
                <td><b>Exp to new Rank:</b></td>
                <td>{{user.expToLevel}} </td>
            </tr>
            <tr>
                <td><b>Shutdowns:</b></td>
                <td>{{user.shutdowns}} </td>
            </tr>
            <tr>
                <td><b>Crime Skill:</b></td>
                <td>{{user.crimeSkill}} </td>
            </tr>
            {{!--
            <tr>
                <td><b>Networth:</b></td>
                <td>${{user.networth}} </td>
    div        </tr>
            <tr>
                <td><b>Start date:</b></td>
                <td>{{createdAtDate}} </td>
            </tr> --}}
        </table>
    </div>

    {{!-- HACK SKILLS --}}
    <div class="my-profile my-profile-hack-stats upgrade-table">
        <table cellspacing="0">
            <tr>
                <th>HACK SKILLS</th>
                <th>Value</th>
                <th>Upgrade</th>
            </tr>
            <tr>
                <td><b>Firewall:</b></td>
                <td>{{user.maxFirewall}} </td>
                <td>
                    <form action="/my-profile" method="POST">
                        <input type="submit" name="firewall" class="button" value="+">
                    </form>
                </td>
            </tr>
            <tr>
                <td><b>CPU:</b></td>
                <td>{{user.cpu}} </td>
                <td>
                    <form action="/my-profile" method="POST">
                        <input type="submit" name="cpu" class="button" value="+">
                    </form>
                </td>
            </tr>
            <tr>
                <td><b>AntiVirus:</b></td>
                <td>{{user.antiVirus}} </td>
                <td>
                    <form action="/my-profile" method="POST">
                        <input type="submit" name="antivirus" class="button" value="+">
                    </form>
                </td>
            </tr>
            <tr>
                <td><b>Encryption:</b></td>
                <td>{{user.encryption}} </td>
                <td>
                    <form action="/my-profile" method="POST">
                        <input type="submit" name="encryption" class="button" value="+">
                    </form>
                </td>
            </tr>
        </table>
        <div class="stat-points">You have {{user.statPoints}} available!</div>
    </div>
</div>

    {{#if message}}
    <div id="writing">{{message}}</div>
    {{/if}}